body {
	background-color:#000000;
}

#stage {
	top: 0px;
	left: 0px;
	z-index: 100;
}
.stage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 900px;
	height: 480px;
	overflow: hidden;
}
#bg {
	background: #CCCCCC url(../images/spritely/background.png) 0 0 repeat-x;
}
#level1 {
	background: transparent url(../images/spritely/level-1.png) 305px 102px repeat-x;
}
#level2 {
	background: transparent url(../images/spritely/level-2.png);
}
#level3 {
	background: transparent url(../images/spritely/level-3.png) 0 10px repeat-x;
}
#icons1 {
	background: transparent url(../images/spritely/sprite-1.png) 0 0 no-repeat;
	position: absolute;
	top: 150px;
	left: 65px;
	width: 32px;
	height: 32px;
	z-index: 2000;
	cursor: pointer;
}
#icons2 {
	background: transparent url(../images/spritely/sprite-2.png) 0 0 no-repeat;
	position: absolute;
	top: 20px;
	left: 150px;
	width: 64px;
	height: 64px;
	z-index: 2002;
}
#icons3 {
	background: transparent url(../images/spritely/sprite-1.png) 0 0 no-repeat;
	position: absolute;
	top: 200px;
	left: 300px;
	z-index: 2002;
}
