/* 
    Document   : css
    Created on : 14.02.2013, 10:44:27
    Author     : cpi
    Description:
        Purpose of the stylesheet follows.
*/
* {margin:0; padding:0; font-family:Arial, sans-serif; font-size:14px; }
body,html {height:100%;}
#inhalt {
    margin:5px; margin-top:20px; padding:5px; width:80%; box-shadow:1px 2px 4px 1px #B43104;border-radius:12px;
    background:-moz-linear-gradient(top, #fff, #adf); /* Firefox */
    background:-webkit-linear-gradient(top, #fff, #adf); /* Safari, Chrome */
    background:-o-linear-gradient(top, #fff, #adf); /* Opera */
    background:-ms-linear-gradient(top, #fff, #adf); /* IE */
    background:linear-gradient(top, #fff, #adf);
    position: relative; top:20px;left:30px;
}
header {
    border-radius:10px 10px 0px 0px;
    padding:5px;
    background:-moz-linear-gradient(top, #EEB937, #FADD67); /* Firefox */
    background:-webkit-linear-gradient(top, #EEB937, #FADD67); /* Safari, Chrome */
    background:-o-linear-gradient(top, #EEB937, #FADD67); /* Opera */
    background:-ms-linear-gradient(top, #EEB937, #FADD67); /* IE */
    background:linear-gradient(top, #EEB937, #FADD67);  
}
header h1 {
    font-size:30px;
    letter-spacing:0.3em;
    color: yellow;
    padding:5px;
    text-shadow:brown 2px 1px 4px;
}
nav {
    background: #adf;
    height: 30px;
}
.naviRot {
    background-color: red;
    color:#fff;
    font-weight: bold;
}
.naviBlau {
    background-color: blue;
    color:#fff;
    font-weight: bold;
}
.naviGruen {
    background-color: green;
    color:#fff;
    font-weight: bold;
}
.naviOrang {
    background-color: orange;
    color:#fff;
    font-weight: bold;
}
.naviMangenta {
    background-color: magenta;
    color:#fff;
    font-weight: bold;
}
.naviYellow {
    background-color: yellowgreen;
    color:#fff;
    font-weight: bold;
}
#content {
    margin:5px; margin-left:20px;
    height: 400px;
}
#contentRight{
    position: absolute;z-index: 100;top:150px;right:10px;
    width:auto;
}
#contentLeft{
    margin:10px;
}
#contentLeft ol {
    margin-left:30px;
    margin-top: 10px;
}
article {
    display: none;
}
#contentLeft ol li  {
   cursor: pointer;
}
#footer {
    margin-bottom: 10px;
    margin-left: 10px;
}
a {
	text-decoration:none;
}
a:hover {
	color:#000000;
}
nav ul {
	list-style-type:none;
	margin:0px;
}
nav ul ul {
	display:none;
        position:absolute;
	width:150px;
	margin:0;
	left:0px;
	top:26px;
}
nav li {
	float:left;
	position:relative;
	padding:5px 8px 5px 5px;
}
nav li a{
  padding:4px 8px;
  border: blue solid thin;
}
nav li a:hover{
  color:red;
  background-color: yellow;
  border: #B43104 solid thin;
}
nav li li {
	float:none;
	width:150px; /* ie6 */
	background-color:#CCCCCC;
	padding:0;
}

nav li li a {
	width:147px;
	margin:0 0 0 0;
	padding:0;
	line-height:20px;
	display:inline-block;  /* ie6 */
}
.menue li:hover ul ul {
	display:none;
}

.menue li:hover ul {
	display:block;
}
.menue li li:hover ul {
	display:block;
}



